<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List</title>
    <script type="text/javascript" src="js/libs/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/ToDo.css">      
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>   
    <div id="container">
        <div id="db">
            <h1><i class="fas fa-plus"></i> To Do List<i class="fas fa-trash"></i></h1>
        </div>
        <div><input type="text" placeholder="Enter new ToDo" id="addToDo"></div>
        
        <div>
            <ul>
                <li>
                    <i class="far fa-square"></i>
                    <input type="text">
                    <span><i class="fas fa-trash"></i></span>
                </li>
                <li>
                    <i class="far fa-square"></i>
                    <input type="text">
                    <span><i class="fas fa-trash"></i></span>
                </li>
                <li>
                    <i class="far fa-square"></i>
                    <input type="text">
                    <span><i class="fas fa-trash"></i></span></li>
            </ul>
        </div>

         
    </div>

    <script type="text/javascript" src="js/ToDo.js"></script>
</body>
</html>